.custom-container h1 {
  margin-top: 10px;;
  color: rgb(47, 246, 64);
}

.bumble img {
  border: 1px solid black;
  border-radius: 5px;
}

footer {
  background-color: rgb(128, 128, 128);
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}